.card_main {
    width: 1152px;
    background-color: #1F2428;
    padding: 70px;
    border-radius: 0px 0px 20px 20px;
    display: flex; 
    align-items: center; 
    overflow: hidden; 
}
.card{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 18pt;
    font-size: 16pt;
    color: white;
    width: 520px;
    height: 520px;
    background-color: #1F2428;
    margin: 25px 0px 0px 25px;
    border-radius: 10px;
    padding: 10px;
}
.foto{
    width: 300px;
}

h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 85pt;
}
h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24pt;
}
html{
    background-color: #24292E;
}
